/* .App {
  text-align: center;
  background-color: rgb(76, 76, 88);
} */

/* body{
  background-color: rgb(22, 22, 212);
} */

/* #bg-color{
  background-color: rgb(218, 218, 231);
  height: 577px;
} */

#bgColor{
  background-color: rgb(218, 218, 231);
  height: 700px;
  /* height: 100%; */
}

#ansColor{
  background-color: rgb(218, 218, 231);
  /* height: 1550px; */
  height: 100%;
}

#creditColor{
  background-color: rgb(218, 218, 231);
  /* height: 500px; */
  height: 100%;
}


#main-content{
  margin-top: 7%;
  margin-left: 20%;
}

#homeImg{
  width: 63%;
  height: 247px;
}

#myImg{
  width: 140px;
  height: 94px;
}
#myBtn{
  border-radius: 13px ;
  background-color: rgb(10, 133, 92);
}
#homeBtn{
  /* margin-top: 18px;
  margin-left: 213px;
  width: 193px; */
  border-radius: 23px;
  /* font-weight: bold; */
}
#quesBtn{
  border-radius: 22px;
  /* padding: 10px;
  font-size: 24px; */
}

.middle__title {
  /* font-size: 24px; */
  display: flex;
  align-items: center;
  /* text-align:center; */
  /* font-weight: 700; */
}

.middle__insideTitle {
  margin-top: 20px;
  font-size: 24px;
  text-align:center;
  color: white;
  font-weight: 700;
  background-color: orange;
  border-radius: 22px;
}

.middle__insideCategory {
  margin-top: 20px;
  font-size: 24px;
  text-align:center;
  color: white;
  font-weight: 700;
  background-color:  rgb(10, 133, 92);
  border-radius: 22px;
}

.select_category {
  font-size: 24px;
  /* text-align: center; */
  text-align: center;
  display: flex;
  align-items: center;
  border-radius: 25px;
  background: rgb(10, 133, 92);
  color: white;
  font-weight: 700;
}

.disabledCursor {
  cursor: default;
  /* pointer-events: none; */
}

.nav__container {
  justify-content: space-evenly;
}

#quesBtn:disabled {
  opacity: 0.5;
 }

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


